*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Lato', sans-serif;
}

.section-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;

}

.section-description {
    padding-top: 24px ;
    padding-bottom: 50px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;

}


/* Header Section */

.header-container {
    display: flex;
    background: #E554731A;
    align-items: center;
    height: 850px;
    gap: 100px;
}

.header-content {
    padding-left: 240px;
    padding-top: 197px;
    padding-bottom: 147px;
    
}

.header-content h2 {
    color: #272727;
    font-size: 52px;
    font-weight: 800;
    padding-right: 50px;

}

.header-content p {
    padding: 32px 0px ;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.header-image {
    padding: 50px 240px 0 0 ;
}

.btn-pink {
    border: none;
    border-radius: 8px;
    background: #E55473;    
    padding: 20px 43px;
    color: #FFF;    
    font-size: 20px;
    font-weight: 700;
}


/* FLOWER SECTION */
.flower-section{
    padding-top: 130px;
    padding-bottom: 128px;
    text-align: center;    
    padding-bottom: 50px ;
    width: 80%;
    margin: auto;
}

.flowers-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 24px;
}

.flower-item h4 {
    margin-top: 32px;
    display: block;
    text-align: center;

    color: #272727;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
}


.pink{
    border-radius: 200px 200px 0px 0px;
    padding: 30px 30px 0px 30px;
    display: flex;
    margin-right: 24px;
    background: rgba(167, 33, 98, 0.15);
    height: 350px; 
    width: 300px ;  
}

.blue{
    border-radius: 200px 200px 0px 0px;
    padding: 30px 30px 0px 30px;
    display: flex;  
    margin-right: 24px;
    background: rgba(5, 151, 160, 0.15);
    height: 350px;
    width: 300px ;
    
}

.green{
    border-radius: 200px 200px 0px 0px;
    padding: 30px 30px 0px 30px;
    display: flex;
    margin-right: 24px;
    background: rgba(71, 125, 17, 0.15);
    height: 350px;
    width: 320px ;

}

