*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Lato', sans-serif;
}

.section-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;

}

.section-description {
    padding-top: 24px ;
    padding-bottom: 50px;
    padding-left: 25px;
    padding-right: 25px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;

}

.btn-pink {
    border: none;
    border-radius: 8px;
    background: #E55473;    
    padding: 20px 43px;
    color: #FFF;    
    font-size: 20px;
    font-weight: 700;
}

/* Header Section */

header{
    background: rgba(229, 84, 115, 0.10);
    /* height: 850px; */

}
.header-container {
    display: flex;
    justify-content: space-between;    
    align-items: center;
    margin : 0 auto;    
    gap: 100px;
    width: 80%;
    /* border: solid red; */
}

.header-content {
    /* border: solid blue; */

    
}

.header-content h2 {
    color: #272727;
    font-size: 52px;
    font-weight: 800;
    padding-right: 50px;

}

.header-content p {
    padding: 32px 0px ;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
}

.header-image {
    /* padding: 50px 240px 0 0 ; */
}




/* FLOWER SECTION */
.flower-section{
    /* border: #E55473 solid; */
    padding-top: 130px;
    /* padding-bottom: 128px; */
    text-align: center;    
    padding-bottom: 50px ;
    width: 80%;
    margin: auto;
}

.flowers-container{
    /* border: solid red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
}

.flower-item h4 {
    margin-top: 32px;
    /* display: block; */
    /* text-align: center; */
    color: #272727;
    font-size: 16px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
}
/* .flower-item a {
    display: block;
    text-align: center;
} */

.flower-item {
    /* border: solid blue; */
    display: block; 
    align-items: center;
}

.flower-item img {
    width: 70%;
    height: 300px;
    /* margin-top: 70px; */
}

.pink{
    background: rgba(167, 33, 98, 0.15);
    border-radius: 200px 200px 0px 0px;
    padding: 30px 30px 0px 30px;  
}

.blue{
    background: rgba(5, 151, 160, 0.15);
    border-radius: 200px 200px 0px 0px;
    padding: 30px 30px 0px 30px;
     
}

.green{
    background: rgba(71, 125, 17, 0.15);
    border-radius: 200px 200px 0px 0px;
    padding: 30px 30px 0px 30px;

}


/* TECH SUPPORT SECTION */

.tech-support-section {
    width: 80%;
    margin: auto;

}

.support-container{
    /* border: #E55473 solid; */
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 260px;    
}

.container-items{

    text-align: center;
    padding: 23px;
}

.container-items h4 {
    color: rgba(39, 39, 39, 0.80);   
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 35px;
    margin-top: 30px;
}

/****** OFFER SECTION *****/

.offer-section{
    /* height: 620px; */
    background: rgba(229, 84, 115, 0.05);
    margin-top: 80px;
    margin-bottom: 50px;
    padding-top: 80px;
    padding-bottom: 80px;
}

.offer-container{
    /* border: solid blue; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    width: 80%;
    margin: 0 auto;   

}

.offer-content{
    /* border: solid violet; */
    align-items: center;
    text-align: center;
    /* padding: 230px 160px 0 300px */
    /* width: 75%; */
    /* margin-left: 10px; */
    width: 55%;
    
}

.image-container{
    /* border: solid violet; */
    
}

.image-container img {
    width: 95%;
}

.offer-container span {
    color: #E55473;
    font-size: 40px;
    font-weight: 800;

}

.btn-offer{
    /* display: block; */
    /* margin: 0 auto; */
    /* margin-bottom: 162px; */
}


/* INSTAGRAM SECTION */

.instagram-section{
    /* border: solid red; */
    padding-top: 25px;
    width: 80%;
    margin: 0 auto;
    /* margin: 100px 0 */
    /* margin : 0 auto; */
}
.image-gallary{
    /* width: 80%;
    margin: 0 auto; */
    margin: 0 20px 0 20px ;
    /* border: solid blue; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.image-gallary img {
    width: 20%;
}

/* LATEST DEALS */

.latest-deals{
    /* border: solid red; */
    width: 80%;
    margin: 128px auto;
    padding: 120px 0;
    background-image: url('../FlowerAsset/Rectangle\ 9.png');
    background-size: cover;
    
    background-repeat: no-repeat;
    border-radius: 8px;
    text-align: center;
}


.latest-deals form {
    /* border: solid blue; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

.latest-deals input {
    border: none;
    width: 600px;
    height: 64px;
    margin-right: 20px;
    padding-left: 20px;
    border-radius: 8px;
}


/* FOOTER SECTION */
footer {
    /* border: solid red; */
    background-color: #111010;
    padding: 100px 0;
}

.footer-container {
    /* border: solid blue; */
    width :80%;
    margin: 0 auto;
}

.footer-container h2 {
    color: white;
}

.footer-container span {
    color: #E55473;
    font-size: 48px;
    font-weight: 800;
    line-height: normal;
}

.footer-title {
    text-align: center;
    color: #FFFFFF;
    font-size: 48px;  
    font-weight: 800;
}
.footer-text {
    color: rgba(255, 255, 255, 0.90);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.footer-text-last {
    color: rgba(255, 255, 255, 0.40);
    font-size: 16px; 
    font-weight: 400;
    text-align: center;
    
}